
.buttoncls{
  position: absolute;
  top: 5%;
  right: 8%;
  z-index: 9999;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  color: white;
  background: #464545;
  font-size: 20px;
  font-weight: 400;
}
.buttoncls:hover{
  color: #464545;
  background-color: rgb(142, 138, 138);
}
.buttonrel{
  position: relative;
}